# Cau 4

In [1]:
import pandas as pd

df = pd.read_csv("dulieuxettuyendaihoc.csv")
print(df.head(10))

print("Thiếu trước khi xử lý:")
print(df["DT"].isna().sum())

df["DT"] = df["DT"].fillna(0)

print("Thiếu sau khi xử lý:")
print(df["DT"].isna().sum())

   STT   T1   L1   H1   S1   V1   X1   D1   N1   T2  ...   X6   D6   N6  GT  \
0    1  7.2  7.3  6.3  7.3  7.0  7.9  7.3  5.5  8.4  ...  6.6  7.6  5.9   F
1    2  5.4  3.9  3.9  4.0  5.4  5.4  5.3  2.8  6.3  ...  6.6  6.1  4.4   M
2    3  5.6  6.8  7.2  7.5  4.3  7.4  5.8  3.2  5.0  ...  7.9  8.1  4.6   M
3    4  6.6  6.4  5.3  6.9  5.4  7.3  6.4  5.8  5.1  ...  7.1  7.3  7.4   M
4    5  6.0  5.0  6.0  7.3  6.5  7.7  7.9  6.1  5.4  ...  6.1  7.5  7.2   M
5    6  9.3  7.6  7.9  8.6  7.0  7.3  7.7  7.9  9.6  ...  5.7  8.0  7.8   M
6    7  2.8  3.9  5.5  6.9  5.0  7.3  4.6  5.2  4.4  ...  6.6  6.0  6.0   F
7    8  8.3  6.0  7.6  5.1  7.5  4.7  5.8  7.2  6.7  ...  7.1  6.8  7.0   F
8    9  6.5  6.3  7.6  6.0  5.5  7.1  6.3  5.0  7.3  ...  9.1  7.9  6.1   F
9   10  7.3  5.9  4.7  7.1  6.7  7.9  6.7  7.7  8.0  ...  6.4  6.1  7.8   F

   DT   KV   DH1   DH2   DH3  KT
0 NaN  2NT  3.25  3.25  4.50  A1
1 NaN    1  6.00  4.00  3.50   C
2 NaN    1  5.00  6.75  4.00   C
3 NaN    1  4.25  4.25  5.25  D1
4 NaN  2NT  4.25  4.50  5.00   A
5 NaN    1  1.50  4.00  6.00  D1
6 NaN    2  6.50  6.75  5.25   C
7 NaN    2  3.75  4.50  4.25  D1
8 NaN    1  3.50  3.50  6.75  D1
9 NaN    1  4.00  4.75  5.50  D1

[10 rows x 56 columns]
Thiếu trước khi xử lý:
97
Thiếu sau khi xử lý:
0

In [2]:
# Cau 5
import pandas as pd

df = pd.read_csv("dulieuxettuyendaihoc.csv")


print("Thiếu trước khi xử lý:")
print(df["T1"].isna().sum())


mean_T1 = df["T1"].mean()


df["T1"] = df["T1"].fillna(mean_T1)


print("Thiếu sau khi xử lý:")
print(df["T1"].isna().sum())

Thiếu trước khi xử lý:
0
Thiếu sau khi xử lý:
0

In [3]:
# Cau 6
import pandas as pd

df = pd.read_csv("dulieuxettuyendaihoc.csv")


cot_diem = df.select_dtypes(include=["int64", "float64"]).columns


print("Thiếu trước khi xử lý:")
print(df[cot_diem].isna().sum())


for col in cot_diem:
    mean_value = df[col].mean()
    df[col] = df[col].fillna(mean_value)


print("Thiếu sau khi xử lý:")
print(df[cot_diem].isna().sum())

Thiếu trước khi xử lý:
STT     0
T1      0
L1      0
H1      0
S1      0
V1      0
X1      0
D1      0
N1      0
T2      0
L2      0
H2      0
S2      0
V2      0
X2      0
D2      0
N2      0
T3      0
L3      0
H3      0
S3      0
V3      0
X3      0
D3      0
N3      0
T4      0
L4      0
H4      0
S4      0
V4      0
X4      0
D4      0
N4      0
T5      0
L5      0
H5      0
S5      0
V5      0
X5      0
D5      0
N5      0
T6      0
L6      0
H6      0
S6      0
V6      0
X6      0
D6      0
N6      0
DT     97
DH1     0
DH2     0
DH3     0
dtype: int64
Thiếu sau khi xử lý:
STT    0
T1     0
L1     0
H1     0
S1     0
V1     0
X1     0
D1     0
N1     0
T2     0
L2     0
H2     0
S2     0
V2     0
X2     0
D2     0
N2     0
T3     0
L3     0
H3     0
S3     0
V3     0
X3     0
D3     0
N3     0
T4     0
L4     0
H4     0
S4     0
V4     0
X4     0
D4     0
N4     0
T5     0
L5     0
H5     0
S5     0
V5     0
X5     0
D5     0
N5     0
T6     0
L6     0
H6     0
S6     0
V6     0
X6     0
D6     0
N6     0
DT     0
DH1    0
DH2    0
DH3    0
dtype: int64

In [4]:
# Cau 7
import pandas as pd

df = pd.read_csv("dulieuxettuyendaihoc.csv")
print(df.head(10))

df["TBM1"] = (
    df["T1"]*2 + df["L1"] + df["H1"] + df["S1"]
    + df["V1"]*2 + df["X1"] + df["D1"] + df["N1"]
) / 10

df["TBM2"] = (
    df["T2"]*2 + df["L2"] + df["H2"] + df["S2"]
    + df["V2"]*2 + df["X2"] + df["D2"] + df["N2"]
) / 10

df["TBM3"] = (
    df["T3"]*2 + df["L3"] + df["H3"] + df["S3"]
    + df["V3"]*2 + df["X3"] + df["D3"] + df["N3"]
) / 10

print(df[["TBM1", "TBM2", "TBM3"]].head())

   STT   T1   L1   H1   S1   V1   X1   D1   N1   T2  ...   X6   D6   N6  GT  \
0    1  7.2  7.3  6.3  7.3  7.0  7.9  7.3  5.5  8.4  ...  6.6  7.6  5.9   F
1    2  5.4  3.9  3.9  4.0  5.4  5.4  5.3  2.8  6.3  ...  6.6  6.1  4.4   M
2    3  5.6  6.8  7.2  7.5  4.3  7.4  5.8  3.2  5.0  ...  7.9  8.1  4.6   M
3    4  6.6  6.4  5.3  6.9  5.4  7.3  6.4  5.8  5.1  ...  7.1  7.3  7.4   M
4    5  6.0  5.0  6.0  7.3  6.5  7.7  7.9  6.1  5.4  ...  6.1  7.5  7.2   M
5    6  9.3  7.6  7.9  8.6  7.0  7.3  7.7  7.9  9.6  ...  5.7  8.0  7.8   M
6    7  2.8  3.9  5.5  6.9  5.0  7.3  4.6  5.2  4.4  ...  6.6  6.0  6.0   F
7    8  8.3  6.0  7.6  5.1  7.5  4.7  5.8  7.2  6.7  ...  7.1  6.8  7.0   F
8    9  6.5  6.3  7.6  6.0  5.5  7.1  6.3  5.0  7.3  ...  9.1  7.9  6.1   F
9   10  7.3  5.9  4.7  7.1  6.7  7.9  6.7  7.7  8.0  ...  6.4  6.1  7.8   F

   DT   KV   DH1   DH2   DH3  KT
0 NaN  2NT  3.25  3.25  4.50  A1
1 NaN    1  6.00  4.00  3.50   C
2 NaN    1  5.00  6.75  4.00   C
3 NaN    1  4.25  4.25  5.25  D1
4 NaN  2NT  4.25  4.50  5.00   A
5 NaN    1  1.50  4.00  6.00  D1
6 NaN    2  6.50  6.75  5.25   C
7 NaN    2  3.75  4.50  4.25  D1
8 NaN    1  3.50  3.50  6.75  D1
9 NaN    1  4.00  4.75  5.50  D1

[10 rows x 56 columns]
   TBM1  TBM2  TBM3
0  7.00  7.54  7.06
1  4.69  5.47  4.70
2  5.77  5.38  4.33
3  6.21  5.20  6.03
4  6.50  6.36  7.01

In [5]:
# Cau 8
import pandas as pd

df = pd.read_csv("dulieuxettuyendaihoc.csv")
print(df.head(10))

bins = [0, 5, 6.5, 8, 9, 10]
labels = ["Y", "TB", "K", "G", "XS"]

df["TBM1"] = (
    df["T1"]*2 + df["L1"] + df["H1"] + df["S1"]
    + df["V1"]*2 + df["X1"] + df["D1"] + df["N1"]
) / 10

df["TBM2"] = (
    df["T2"]*2 + df["L2"] + df["H2"] + df["S2"]
    + df["V2"]*2 + df["X2"] + df["D2"] + df["N2"]
) / 10

df["TBM3"] = (
    df["T3"]*2 + df["L3"] + df["H3"] + df["S3"]
    + df["V3"]*2 + df["X3"] + df["D3"] + df["N3"]
) / 10

df["XL1"] = pd.cut(df["TBM1"], bins=bins, labels=labels, right=False)
df["XL2"] = pd.cut(df["TBM2"], bins=bins, labels=labels, right=False)
df["XL3"] = pd.cut(df["TBM3"], bins=bins, labels=labels, right=False)

def xep_loai(tbm):
    if tbm < 5:
        return "Y"
    elif tbm < 6.5:
        return "TB"
    elif tbm < 8:
        return "K"
    elif tbm < 9:
        return "G"
    else:
        return "XS"

df["XL1"] = df["TBM1"].apply(xep_loai)
df["XL2"] = df["TBM2"].apply(xep_loai)
df["XL3"] = df["TBM3"].apply(xep_loai)

print(df[["TBM1", "XL1", "TBM2", "XL2", "TBM3", "XL3"]].head())

   STT   T1   L1   H1   S1   V1   X1   D1   N1   T2  ...   X6   D6   N6  GT  \
0    1  7.2  7.3  6.3  7.3  7.0  7.9  7.3  5.5  8.4  ...  6.6  7.6  5.9   F
1    2  5.4  3.9  3.9  4.0  5.4  5.4  5.3  2.8  6.3  ...  6.6  6.1  4.4   M
2    3  5.6  6.8  7.2  7.5  4.3  7.4  5.8  3.2  5.0  ...  7.9  8.1  4.6   M
3    4  6.6  6.4  5.3  6.9  5.4  7.3  6.4  5.8  5.1  ...  7.1  7.3  7.4   M
4    5  6.0  5.0  6.0  7.3  6.5  7.7  7.9  6.1  5.4  ...  6.1  7.5  7.2   M
5    6  9.3  7.6  7.9  8.6  7.0  7.3  7.7  7.9  9.6  ...  5.7  8.0  7.8   M
6    7  2.8  3.9  5.5  6.9  5.0  7.3  4.6  5.2  4.4  ...  6.6  6.0  6.0   F
7    8  8.3  6.0  7.6  5.1  7.5  4.7  5.8  7.2  6.7  ...  7.1  6.8  7.0   F
8    9  6.5  6.3  7.6  6.0  5.5  7.1  6.3  5.0  7.3  ...  9.1  7.9  6.1   F
9   10  7.3  5.9  4.7  7.1  6.7  7.9  6.7  7.7  8.0  ...  6.4  6.1  7.8   F

   DT   KV   DH1   DH2   DH3  KT
0 NaN  2NT  3.25  3.25  4.50  A1
1 NaN    1  6.00  4.00  3.50   C
2 NaN    1  5.00  6.75  4.00   C
3 NaN    1  4.25  4.25  5.25  D1
4 NaN  2NT  4.25  4.50  5.00   A
5 NaN    1  1.50  4.00  6.00  D1
6 NaN    2  6.50  6.75  5.25   C
7 NaN    2  3.75  4.50  4.25  D1
8 NaN    1  3.50  3.50  6.75  D1
9 NaN    1  4.00  4.75  5.50  D1

[10 rows x 56 columns]
   TBM1 XL1  TBM2 XL2  TBM3 XL3
0  7.00   K  7.54   K  7.06   K
1  4.69   Y  5.47  TB  4.70   Y
2  5.77  TB  5.38  TB  4.33   Y
3  6.21  TB  5.20  TB  6.03  TB
4  6.50   K  6.36  TB  7.01   K

In [6]:
# Cau9
import pandas as pd

df = pd.read_csv("dulieuxettuyendaihoc.csv")
print(df.head(10))

df["TBM1"] = (
    df["T1"]*2 + df["L1"] + df["H1"] + df["S1"]
    + df["V1"]*2 + df["X1"] + df["D1"] + df["N1"]
) / 10

df["TBM2"] = (
    df["T2"]*2 + df["L2"] + df["H2"] + df["S2"]
    + df["V2"]*2 + df["X2"] + df["D2"] + df["N2"]
) / 10

df["TBM3"] = (
    df["T3"]*2 + df["L3"] + df["H3"] + df["S3"]
    + df["V3"]*2 + df["X3"] + df["D3"] + df["N3"]
) / 10

df["US_TBM1"] = df["TBM1"] * 0.4
df["US_TBM2"] = df["TBM2"] * 0.4
df["US_TBM3"] = df["TBM3"] * 0.4

df["US_TBM1"] = df["US_TBM1"].round(2)
df["US_TBM2"] = df["US_TBM2"].round(2)
df["US_TBM3"] = df["US_TBM3"].round(2)

print(df[["TBM1","US_TBM1","TBM2","US_TBM2","TBM3","US_TBM3"]].head())

df.to_csv("processed_dulieuxettuyendaihoc.csv", index=False)

   STT   T1   L1   H1   S1   V1   X1   D1   N1   T2  ...   X6   D6   N6  GT  \
0    1  7.2  7.3  6.3  7.3  7.0  7.9  7.3  5.5  8.4  ...  6.6  7.6  5.9   F
1    2  5.4  3.9  3.9  4.0  5.4  5.4  5.3  2.8  6.3  ...  6.6  6.1  4.4   M
2    3  5.6  6.8  7.2  7.5  4.3  7.4  5.8  3.2  5.0  ...  7.9  8.1  4.6   M
3    4  6.6  6.4  5.3  6.9  5.4  7.3  6.4  5.8  5.1  ...  7.1  7.3  7.4   M
4    5  6.0  5.0  6.0  7.3  6.5  7.7  7.9  6.1  5.4  ...  6.1  7.5  7.2   M
5    6  9.3  7.6  7.9  8.6  7.0  7.3  7.7  7.9  9.6  ...  5.7  8.0  7.8   M
6    7  2.8  3.9  5.5  6.9  5.0  7.3  4.6  5.2  4.4  ...  6.6  6.0  6.0   F
7    8  8.3  6.0  7.6  5.1  7.5  4.7  5.8  7.2  6.7  ...  7.1  6.8  7.0   F
8    9  6.5  6.3  7.6  6.0  5.5  7.1  6.3  5.0  7.3  ...  9.1  7.9  6.1   F
9   10  7.3  5.9  4.7  7.1  6.7  7.9  6.7  7.7  8.0  ...  6.4  6.1  7.8   F

   DT   KV   DH1   DH2   DH3  KT
0 NaN  2NT  3.25  3.25  4.50  A1
1 NaN    1  6.00  4.00  3.50   C
2 NaN    1  5.00  6.75  4.00   C
3 NaN    1  4.25  4.25  5.25  D1
4 NaN  2NT  4.25  4.50  5.00   A
5 NaN    1  1.50  4.00  6.00  D1
6 NaN    2  6.50  6.75  5.25   C
7 NaN    2  3.75  4.50  4.25  D1
8 NaN    1  3.50  3.50  6.75  D1
9 NaN    1  4.00  4.75  5.50  D1

[10 rows x 56 columns]
   TBM1  US_TBM1  TBM2  US_TBM2  TBM3  US_TBM3
0  7.00     2.80  7.54     3.02  7.06     2.82
1  4.69     1.88  5.47     2.19  4.70     1.88
2  5.77     2.31  5.38     2.15  4.33     1.73
3  6.21     2.48  5.20     2.08  6.03     2.41
4  6.50     2.60  6.36     2.54  7.01     2.80

In [7]:
# Cau 10
import pandas as pd

df = pd.read_csv("dulieuxettuyendaihoc.csv")
print(df.head(10))

def ket_qua_xet_tuyen(row):
    if row["KT"] in ["A", "A1"]:
        diem = (row["DH1"]*2 + row["DH2"] + row["DH3"]) / 4
    elif row["KT"] == "B":
        diem = (row["DH1"] + row["DH2"]*2 + row["DH3"]) / 4
    else:
        diem = (row["DH1"] + row["DH2"] + row["DH3"]) / 3

    if diem >= 5.0:
        return 1  
    else:
        return 0  

df["KQXT"] = df.apply(ket_qua_xet_tuyen, axis=1)

print(df[["KT","DH1","DH2","DH3","KQXT"]].head(10))

   STT   T1   L1   H1   S1   V1   X1   D1   N1   T2  ...   X6   D6   N6  GT  \
0    1  7.2  7.3  6.3  7.3  7.0  7.9  7.3  5.5  8.4  ...  6.6  7.6  5.9   F
1    2  5.4  3.9  3.9  4.0  5.4  5.4  5.3  2.8  6.3  ...  6.6  6.1  4.4   M
2    3  5.6  6.8  7.2  7.5  4.3  7.4  5.8  3.2  5.0  ...  7.9  8.1  4.6   M
3    4  6.6  6.4  5.3  6.9  5.4  7.3  6.4  5.8  5.1  ...  7.1  7.3  7.4   M
4    5  6.0  5.0  6.0  7.3  6.5  7.7  7.9  6.1  5.4  ...  6.1  7.5  7.2   M
5    6  9.3  7.6  7.9  8.6  7.0  7.3  7.7  7.9  9.6  ...  5.7  8.0  7.8   M
6    7  2.8  3.9  5.5  6.9  5.0  7.3  4.6  5.2  4.4  ...  6.6  6.0  6.0   F
7    8  8.3  6.0  7.6  5.1  7.5  4.7  5.8  7.2  6.7  ...  7.1  6.8  7.0   F
8    9  6.5  6.3  7.6  6.0  5.5  7.1  6.3  5.0  7.3  ...  9.1  7.9  6.1   F
9   10  7.3  5.9  4.7  7.1  6.7  7.9  6.7  7.7  8.0  ...  6.4  6.1  7.8   F

   DT   KV   DH1   DH2   DH3  KT
0 NaN  2NT  3.25  3.25  4.50  A1
1 NaN    1  6.00  4.00  3.50   C
2 NaN    1  5.00  6.75  4.00   C
3 NaN    1  4.25  4.25  5.25  D1
4 NaN  2NT  4.25  4.50  5.00   A
5 NaN    1  1.50  4.00  6.00  D1
6 NaN    2  6.50  6.75  5.25   C
7 NaN    2  3.75  4.50  4.25  D1
8 NaN    1  3.50  3.50  6.75  D1
9 NaN    1  4.00  4.75  5.50  D1

[10 rows x 56 columns]
   KT   DH1   DH2   DH3  KQXT
0  A1  3.25  3.25  4.50     0
1   C  6.00  4.00  3.50     0
2   C  5.00  6.75  4.00     1
3  D1  4.25  4.25  5.25     0
4   A  4.25  4.50  5.00     0
5  D1  1.50  4.00  6.00     0
6   C  6.50  6.75  5.25     1
7  D1  3.75  4.50  4.25     0
8  D1  3.50  3.50  6.75     0
9  D1  4.00  4.75  5.50     0